* {
	margin: 0;
	padding: 0;
}
canvas {
	width: 100svh;
	height: 100svh;
	position: fixed;
	top: 0;
	left: 0;
}
body, html {
	background-color: #000;
	touch-action: pan-x pan-y;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	overflow: hidden;
	overscroll-behavior: none;
}
button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff5;
	border: 2px solid #fff9;
	box-shadow: 0 0 3px 3px #000;
	text-shadow: 0 0 1px 1px #000;
	color: #fff;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 10;
}
#scanner {
	bottom: 10px;
	left: 10px;
}
